USER-SUPPLIED VALUES:
experimental:
  kubernetesGateway:
    enabled: true
ingressRoute:
  dashboard:
    enabled: true
ports:
  web:
    exposedPort: 80
  websecure:
    exposedPort: 443
providers:
  kubernetesGateway:
    enabled: true
  kubernetesIngress:
    enabled: true
    namespaces:
    - demo
    - traefik
